.portfolio{
    background-color: #FFAD61;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("/images/flamingo.svg");
    background-repeat: no-repeat;
    background-position-x: 67vw;
    background-position-y: bottom;
    background-size: 45vw;
}
.portContainer{
    margin-top: 12vh;
}
.portHeader{
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #EEEEEE;
}
.portText1{
    margin-top: 10vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    /* width: 45vw; */
}
.portText2{
    /* margin-bottom: 20px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: rgb(20,20,20, .8);
    /* width: 45vw; */
}

.projectImage{
    margin: 15px 0;
    /* width: 47%; */
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .25);
}
.projectImage_modal{
    margin: 15px 0;
    /* width: 47%; */
    width: 70%;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .25);
}
.projectImageContainer, .projectImageTitle{
    width: 100%;
    text-align: center;
}
.fa-angle-right, .fa-angle-left{
    color: rgb(20,20,20, .85);
    margin: 0 3px ;
}
.fa-angle-right:hover, .fa-angle-left:hover, .projectControl:hover, #visitLink:hover{
    /* color: rgba(20,20,20, .6); */
    color: #EEEEEE;
}

.projectControl{
    font-weight: 600;
    color: rgb(20,20,20, .8);
    font-family: Poppins;
    cursor: pointer;
    margin-top: 15px;
   

}
.projectPrev{
    text-align: left;
}
.projectNext{
    text-align: right;
    
}
.projectCenter{
    text-align: center;
}
#visitLink{
    color: rgb(20,20,20, .8);
}

.modalBold{
    color: rgb(255,0,0, .9);
    font-weight: 600;
}
@media only screen and (max-width: 349px) {
    .portfolio{
        height: 140vh;
    }
    .portContainer{
        margin-top: 10vh;
    }
    .portHeader{
        font-size: 36px;
    }
    .portText1{
        margin-top: 4vh;
    }
    .projectControl{
        font-size: 16px;
        
    }
    .projectCenter{
        text-align: center;
        position: relative;
        bottom: 38px;
    }
    .projectNext{
        position: relative;
        bottom: 76px;
    }
    .projectImage_modal{
        width: 90%;
    }
    
  }
  @media only screen and (min-width: 350px) and (max-width: 568px) {
    .portContainer{
        margin-top: 10vh;
    }
    .portHeader{
        font-size: 36px;
    }
    .portText1{
        margin-top: 4vh;
    }
    .projectControl{
        font-size: 16px;
        
    }
    .projectCenter{
        text-align: center;
        position: relative;
        bottom: 38px;
    }
    .projectNext{
        position: relative;
        bottom: 76px;
    }
    .projectImage_modal{
        width: 90%;
    }
    .portfolio{
        background-image: none;
        background-repeat: repeat;
        height: 110vh;
    }
  }
  
  @media only screen and (min-width: 569px)and (max-width: 1000px) {
    .portHeader{
        font-size: 32px;
    }
    
  }
  @media only screen and (min-width: 1000px)and (max-width: 1200px) {
      
    
  }