.about{
    color: #20242B;
    position:absolute; 
    width: 100%;
}
.aboutBanner{
    background: url("/images/astronaut_about.jpg");
    background-size: cover;
    background-position: center;
    height: 33vw;
    position: relative;
    top: 74px; 
}
.whoWeAre{
    position: relative;
    text-align: center;
    top: 390px;
    font-weight: 400;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}
.aboutContent{
    position: relative;
    top: 125px;
    height: 50vh;
}
.aboutTitle{
    font-style: normal;
    font-weight: lighter; 
    font-size: 58px;
    color: #099BCA;
    text-align: center;
}
.aboutText{
    margin-top: 25px;
    font-size: 16px;
    color: #626365;
    line-height: 1.4;
}