.aboutUsTitle{
    text-align: center;
    background-image: url("/images/sunrise-1756274_1280.jpg");
    color: white;
    padding: 70px 0px 30px 0px;
    margin: -70px;
    
}
.twoCol{
    color: rgb(75,75,75);
    padding-top: 8%;
    
}

.col9section{
    margin-left: 2.5rem;
}
.threeCol{
    text-align: center;
    background-color: rgb(220,220,220);
    padding: 4%;
}
.goldIcon{
    color: goldenrod;
}
.paragraphInfo{
    color: rgb(125,125,125);
    text-align: left;
}