/* .serviceBox{
    background-color: goldenrod;
    width: 100%;
    height: 300px;
    
}
.serviceBox:focus{
    background-color: goldenrod;
}
.serviceBox2:focus{
    background-color: rgba(10,10,10,.9);
}

.serviceBox2{
    background-color: rgba(10,10,10,.9);
    width: 100%;
    height: 300px;
    color: whitesmoke;
    
}
.buttonTitle{
    font-size: large;
    font-weight: bolder;
}
.buttonText{
    font-size: small; 
}
.serviceItems{
    margin-bottom: 0px;
} */
.serviceBanner{
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0.35%, rgba(255, 255, 255, 0) 94.53%), url("/images/satellite-1030779_1600x525crop.jpg"); */
    background: url("/images/spacex-VBNb52J8Trk-unsplash_crop.jpg");
    background-size: cover;
    height: 33vw;
    /* width:100%; */
    position: relative;
    /* left:0; */
    top: 74px; 
}
.service{
  color: #20242B;
  position:absolute; 
  width: 100%;
}
.whatWeDo{
    position: relative;
    text-align: center;
    top: 400px;
    font-weight: 400;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}
.serviceContent{
    position: relative;
    top: 125px;
}
.serviceTitle{
    font-style: normal;
    font-weight: lighter; 
    font-size: 58px;
    color: #099BCA;
    text-align: center;
    
  }
/* .serviceText{
    margin-top: 25px;
    font-size: 16px;
    color: #626365;
    line-height: 25px;
} */
.serviceRow{
    margin-top: 60px;
}
.serviceListTitle{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 50px;
}
.serviceListText{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    /* font-size: 18px; */
    line-height: 25px;
    
    margin-top: 10px;
    font-size: 16px;
    color: #626365;
}
