.serviceBanner{
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0.35%, rgba(255, 255, 255, 0) 94.53%), url("/images/satellite-1030779_1600x525crop.jpg"); */
    background: url("/images/spacex-VBNb52J8Trk-unsplash_crop-min.jpg");
    background-size: cover;
    height: 33vw;
    /* width:100%; */
    position: relative;
    /* left:0; */
    top: 74px; 
}
.service{
  color: #20242B;
  position:absolute; 
  width: 100%;
}
.whatWeDo{
    position: relative;
    text-align: center;
    top: 400px;
    font-weight: 400;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.9);
}
.serviceContent{
    position: relative;
    top: 125px;
}
.serviceTitle{
    font-style: normal;
    font-weight: lighter; 
    font-size: 58px;
    color: #099BCA;
    text-align: center;
    
  }
/* .serviceText{
    margin-top: 25px;
    font-size: 16px;
    color: #626365;
    line-height: 25px;
} */
.serviceRow{
    margin-top: 60px;
}
.serviceRow2{
    margin-top: 40px;
}
.serviceListTitle{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 40px;
}
.serviceListText{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    /* font-size: 18px; */
    line-height: 25px;
    
    margin-top: 10px;
    font-size: 16px;
    color: #626365;
}
@media only screen and (max-width: 349px) {
    .serviceBanner{
      background: url("/images/spacex-VBNb52J8Trk-unsplash_small-min.jpg");
      background-size: cover;
      background-position: center;
      height: 75vw;
      top: 35px; 
    }
    .whatWeDo{
        top: 55vw;
        font-size: 28px;
    }
    .serviceContent{
        position: relative;
        top: 60px;
    }
    .serviceTitle{
        font-size: 28px;
      }
    
    
    
  }
  @media only screen and (min-width: 350px) and (max-width: 568px) {
    .serviceBanner{
        background: url("/images/spacex-VBNb52J8Trk-unsplash_small-min.jpg");
        background-size: cover;
        background-position: center;
        height: 75vw;
        top: 35px; 
      }
      .whatWeDo{
          top: 55vw;
          font-size: 28px;
      }
      .serviceContent{
          position: relative;
          top: 60px;
      }
      .serviceTitle{
          font-size: 28px;
        }
    
  }
  
  @media only screen and (min-width: 569px)and (max-width: 1000px) {
    .serviceBanner{
        background: url("/images/spacex-VBNb52J8Trk-unsplash_small-min.jpg");
        background-size: cover;
        background-position: center;
        height: 75vw;
        top: 35px; 
      }
      .whatWeDo{
          top: 65vw;
          font-size: 28px;
      }
      .serviceContent{
          position: relative;
          top: 60px;
      }
      .serviceTitle{
          font-size: 28px;
        }
    
    
  }