
.homeTop{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0.35%, rgba(255, 255, 255, 0) 94.53%), url("/images/satellite-1030779_1600x525crop.jpg");
    /* background: url("/images/satellite-1030779_1600x525crop.jpg"); */
    background-size: cover;
    height: 33vw;
    /* width:100%; */
    position: relative;
    /* left:0; */
    top: 74px; 
}
.home{
  /* color: #20242B; */
  color: rgba(50, 50, 50, 0.9);
  position:absolute; 
  width: 100%;
}
.bannerContainer{
  position: relative;
  top: 100px;
}
.homeBanner{
  /* font-style: normal; */
  font-weight: 600;
  font-size: 58px;
  /* text-transform: uppercase; */
}
.homeBannerText{
  /* font-style: normal;
  font-weight: normal; */
  font-size: 28px;
  /* width: 50%; */
  /* color: rgba(32, 36, 43, 0.9); */
  color: rgb(66, 66, 66, .9);
}
.contactUsBtn{
  position: relative;
  left:-15px;
  top: 110px;
  background-color: #099BCA;
  font-weight: 600;
  font-size: medium;
  padding: 0 15px;
  border: white;
  border-radius: 20px;
  height: 40px;
}
.homeBottom{
  position: relative;
  /* width: 100%; */
  top: 125px;
}
.homeTitle{
  font-style: normal;
  font-weight: lighter; 
  font-size: 44px;
  color: #099BCA;
  text-align: center;
}
.homeText{
  font-family: Nunito Sans;
  /* font-style: normal;
  font-weight: normal; */
  margin-top: 25px;
  font-size: 16px;
  /* color: rgba(0, 0, 0, 0.8); */
  color: #626365;
}

  

