.home{
  background-color: #61CAFF;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/llama_crio_bw_opacity80.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 40vw;
  
}

.homeContainer{
  margin-top: 25vh;
}
.homeHeader{
font-family: Poppins;
font-weight: bold;
font-size: 48px;
line-height: 140%;
color: #EEEEEE;
}
.homeText{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 160%;
color: rgb(20,20,20, .8);
width: 55vw;

}
.homeBtn{
  margin: 20px 20px 5px 0;
}