.contact{
    color: #20242B;
    position:absolute; 
    width: 100%;  
}
.aboutUsTitle{
    background: url("/images/openstreet_contact_banner.jpg");
    background-size: cover;
    height: 33vw;
    position: relative;
    top: 74px; 
}
.contactPage{
    position: relative;
    top: 125px;
    text-align: left;
    height: 80vh;
}
.contactTitle{
    font-style: normal;
    font-weight: lighter; 
    font-size: 58px;
    color: #099BCA;
    text-align: center;
    position: relative;
    /* top: 25px; */
}
.contactContent{
    position: relative;
    top: 60px;
}
.textFields{
    width: 100%;
    padding: 6px;
}
#confirmMessage{
    background-color: #E38D58;
    color: white;
    font-weight: bolder;
    width: 6em;
    text-align: center;
}
.emailSubmitBtn{
    margin-top: 20px;
    padding: 10px 15px;
}
.contactInfo{
    margin-top: 20px;
    color: #626365;
}