.contactForm{
    margin-top: 5%;
    width: 50vw;
    
}

#confirmMessage{
    background-color: #E38D58;
    color: white;
    font-weight: bolder;
    width: 6em;
    text-align: center;
    /* padding: 7px;
    margin: 5px; */
  }
/* .contactPage{
    background-image: url("/images/satellite-3977165_1920.jpg");
    background-size: cover;
    height: 100vh;
    margin-top: -65px; 
} */