

  *{
    box-sizing: border-box;
  }
  
  .containerForm{
    /* max-width:1170px; */
    margin-left:auto;
    margin-right:auto;
    padding:1em;
    /* margin-bottom: 15em; */
    opacity: .97;
    width: 65%;
    margin-top: 8em;

  }
  
  .ulForm{
    list-style: none;
    padding:0;
    
  }
  .wrapper{
    /* box-shadow: 0 0 20px 0 rgb(123,193,214); */
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-style: solid;
    /* border-radius: 10px; */
    border-color: rgb(190, 186, 186);
    /* box-shadow: 3px 3px 0px rgb(50,50,50); */
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
  }
  
  .wrapper > *{
    padding:1.75em;
    
  }
  
  .company-info{
    background:rgb(250,250,250);
    /* border-radius: 10px 0 0 10px; */
    border-right: 3px dashed rgb(50,50,50);
  }
  
  .company-info h3, .company-info ul{
    text-align: left;
    margin:0 0 1rem 0;
    color: rgb(50,50,50);
  }

  .contact h3{
    text-align: left;
    margin:0 0 1rem 0;
    color: rgb(50,50,50);
  }
  
  .contact{
    background:rgb(250,250,250);
    /* border-radius: 0 10px 10px 0; */
  }
  
  /* FORM STYLES */
  .contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    border-radius: 125px;
  }
  
  .contact form label{
    display:block;
  }
  
  .contact form p{
    margin:0;
  }
  
  .contact form .full{
    grid-column: 1 / 3;
  }
  
  .contact form input, .contact form textarea{
    width:100%;
    padding:.3em;
    border:1px solid rgb(103,169,188);
  }

  #confirmMessage{
    background-color: #E38D58;
    color: white;
    font-weight: bolder;
    width: 6em;
    text-align: center;
  }
  .contactLinks:visited, .contactLinks:link {
    color: rgb(50,50,50);
    opacity: .8;
    
  }
  .emailSubmitBtn{
    width: 150%;
    margin-left: 26%;
  }
/* Shadow */
.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
  
  @media(max-width:765px){
    .wrapper{
      display: block;
    }
    .company-info{
      /* border-radius: 10px 10px 0 0; */
      border-right: 0;
      border-bottom: 3px dashed rgb(50,50,50);
    }
    .contact{
      /* border-radius: 0 0 10px 10px; */
    }
    /* .container{
      padding: 5px 0;
    } */
    .containerForm{
      margin-bottom: 0;
      width: 100%;
      margin-top: 4em;
    }
  }