.contact{
    color: #20242B;
    background-color: #FF6161;
    position:absolute; 
    width: 100vw;
    height: 100vh;
    background-image: url("/images/shark_bw_80crop.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: bottom;
    background-size: 35vw;
}
.contactPage{
    position: relative;
    top: 15vh;
    text-align: left;
    height: 80vh;
}
.contactTitle{
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    color: #EEEEEE;
}
.contactText{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: rgb(20,20,20, .8);
    width: 45vw;
}
.contactContent{

    position: relative;
    top: 5vh;
}
.textFields{
    width: 100%;
    padding: 6px;
    
}
#confirmMessage{
    background-color: #E38D58;
    color: white;
    font-weight: bolder;
    width: 6em;
    text-align: center;
}
.emailSubmitBtn{
    margin-top: 20px;
    padding: 10px 15px;
}
.contactInfo{
    margin-top: 20px;
    /* color: #626365; */
    color: #EEEEEE;
}
.contactDetails{
    text-decoration: none;
    /* color: #626365; */
    color: #EEEEEE;
}
.contactDetails:hover{
    color: #2e2f30;
}
.ourOffice, .contactUs{
    font-weight: 800;
    color: rgb(20,20,20, .85);
}

@media only screen and (max-width: 349px) {
    .aboutUsTitle{
      background: url("/images/openstreet_contact_banner_small-min.jpg");
      background-size: cover;
      background-position: center;
      height: 75vw;
      top: 35px; 
    }
    .contactPage{
        top: 60px;
    }
    .contactTitle{
        font-size: 28px;
    }
    .contactContent{
        top: 20px;
    }
    .ourOffice{
        font-size: 24px;
    }
    .contactUs{
        font-size: 24px;
        margin-top: 20px;
    }
    
  }
  @media only screen and (min-width: 350px) and (max-width: 568px) {
    .aboutUsTitle{
        background: url("/images/openstreet_contact_banner_small-min.jpg");
        background-size: cover;
        background-position: center;
        height: 75vw;
        top: 35px; 
      }
      .contactPage{
          top: 60px;
      }
      .contactTitle{
          font-size: 28px;
      }
      .contactContent{
          top: 20px;
      }
      .ourOffice{
          font-size: 24px;
      }
      .contactUs{
          font-size: 24px;
          margin-top: 20px;
      }
  }
  
  @media only screen and (min-width: 569px)and (max-width: 1000px) {
    .aboutUsTitle{
        background: url("/images/openstreet_contact_banner_small-min.jpg");
        background-size: cover;
        background-position: center;
        height: 75vw;
        top: 35px; 
      }
      .contactPage{
          top: 60px;
      }
      .contactTitle{
          font-size: 28px;
      }
      .contactContent{
          top: 20px;
      }
      .ourOffice{
          font-size: 24px;
      }
      .contactUs{
          font-size: 24px;
          margin-top: 20px;
          margin-bottom: 15px;
      }
    
  }